<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="my-compte">
      <ion-icon name="cog-outline"></ion-icon>
      <!-- <ion-label>A Propos</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="acceuil">
      <ion-icon name="home-outline"></ion-icon>
      <!-- <ion-label>Acceuil</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="swagg_short">
      <ion-icon name="play-outline"></ion-icon>
      <!-- <ion-label>Swagg Short</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="new_pub">
      <ion-icon name="add-circle-outline"></ion-icon>
      <!-- <ion-label>Add</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
