@import '~swiper/scss';
@import '~@ionic/angular/css/ionic-swiper';

ion-content{
    background: #d5ece4;
    box-shadow: 21px 21px 43px #95a5a0, -21px -21px 43px #ffffff;
    height: 75%;
}
ion-header{
    //height: 15%;
    background-color:#ffffff00;
    overflow-x: scroll;
    overflow-y: hidden;
}

.head_list{
    background-color:#ffffff00;
    display: flex;
    flex-direction: row;
    // width: 30em;
    // overflow-x: auto;
    white-space: nowrap;
    max-height: 100%;
    width: max-content;
}

.best_swagger{
    display: grid;
    grid-template-rows: 85% 15%;
    margin: 5px;
    width: 45px;
}

.best_swagger img{
    border-radius: 5px;
}

.best_swagger ion-label{
    font-size: 10px;
    color: aliceblue;
    text-align: center;
}

.swiper{
    height: 100%;
    padding: 5%;
}

.slide{
    height: 100%;
    
    
}
.text_div{
    height: 100%;
    width: 100%;
    color: white;
    margin: auto;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ng-template{
    height: 100%;
    position: absolute;

}

.slide ion-icon{
    width: 100%;
    height: 100%;
    color: ghostwhite;
}

.poste{
    background-position: center;
    border-radius: 10px;
    width: 90% !important;
}
//profil du client qui est en poste

.client_profil{
    position: absolute;
    top: 5%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: bisque;
    padding: 2%;
}

.client_profil ion-icon{
    height: 100%;
    width: 100%;
}
.reaction{
    position: absolute;
    right: 1%;
    top: 45%;
    background-color: #00000061;
    border-radius: 5px;
}

.like{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    padding: 1%;
    margin-bottom: 5px;
}

.comment{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    padding: 1%;
    margin-bottom: 5px;
}

.share{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    padding: 1%;
}

.text_publication{
    margin-left: 5%;
    margin-right: 5%;
}

.text_publication ion-label{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
